Django==1.8.1
gunicorn==19.4.5
dj-database-url==0.4.1
whitenoise==3.2.1
djangorestframework
markdown
django-filter
generic==0.3.1
Pillow==2.9.0
django_chartit
django-markup-deprecated
psycopg2==2.5.4
dj-static
Sphinx
gevent-websocket
gevent-socketio
gevent==1.1b4
xlwt