{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
		<title>{% trans 'iHook, iot dashboard, iot server' %} | iHook</title>
		<link href="{% static 'front/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href="{% static 'front/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<script src="{% static 'front/js/jquery.min.js' %}"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="iot dashboard, iot, hook, internet, nesnelerin interneti, iot web servis, android web servis, ios web servis, api, ihook," />
        <meta name="description" content="Iot Dashboard, Cloud data platform and API for the Internet of Things.">
        <meta name="author" content="ihook.xyz">


		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<script type="text/javascript" src="{% static 'front/js/move-top.js' %}"></script>
		<script type="text/javascript" src="{% static 'front/js/easing.js' %}"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
</head>
	
<body>
	<div id="home" class="banner">
	<div class="container">
		<div class="head-logo">
			<a href="/"><img src="{% static 'front/images/ihook-100x50.png' %}" alt="iot open source serwer"></a>
		</div>
		<div class="top-nav">
			<span class="menu"><img src="{% static 'front/images/menu.png' %}" alt="iot dashboard" /></span>
				<ul class="nav1">
					<li><a href="/" class="scroll">ANA SAYFA</a></li>
					<li><a href="{% url 'panels_index' %}" target="_blank">IOT DASHBOARD DEMO</a></li>
					<li><a href="http://electrocoder.github.io/iotdashboard/" target="_blank">IOT GITHUB</a></li>
					<li><a href="https://github.com/electrocoder/iotdashboard/issues" class="scroll">İLETİŞİM</a></li>
					<li><a href="http://iotdashboard.readthedocs.io/en/latest/" class="scroll">DOCS</a></li>
					<div class="clearfix"> </div>
				</ul>
		</div>

		<div class="clearfix"> </div>
		<div class="banner-info">
			<h2>iHOOK</h2>
			<p>Iot dashboard açık kaynaklı olarak, Python programlama dili ve Django framework ile geliştirilen internete bağlı nesneleri kolay bir şekilde yönetmek için geliştirilmiştir. <span>Api, web servis, veritabanı, ne gerekiyorsa bir kaç tıklama ile
				kolayca...</span> <span>Android, iOS, Windows Phone ve diğer akıllı </span>cihazları web ile birbirine bağlayabilirsiniz.
            </p>
            <div class="development-text">
			    <a href="{% url 'panels_index' %}">{% trans 'HEMEN DENE TEST ET' %}</a>
		    </div>
		</div>
		<div class="banner-icons">
			<ul>
				<li><a href="#" class="facebook"> </a></li>
				<li><a href="https://twitter.com/iothook" class="twitter"> </a></li>
				<li><a href="#" class="in"> </a></li>
			</ul>
		</div>
	</div>
	</div>
			<script> 
					 $( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
							 // Animation complete.
							  });
							 });
							
			</script>
<!-- //banner -->
<!-- service -->
	<div id="service" class="service">
	<div class="container">
		<div class="service-top">
			<h3>iHOOK</h3>
		</div>	
		<div class="service-grids">
			<div class="service-grid1">
				<div class="fig1">
					<span> </span>
				</div>
				<h3>Mobil</h3>
				<p>Mobil cihazınız için uygulamanızı geliştirin ve ihook veritabanına bağlayın. <span>Web servis ile datalarınızı güncelleyin.</span></p>
			</div>
			<div class="service-grid">
				<div class="fig2">
					<span> </span>
				</div>
				<h3>iOT</h3>
				<p>iOT uyumlu tüm cihazlarınızı iHook ile yönetebilirsiniz. <span>Veri alma, durum güncelleme, data aktarımı...</span>Akıllı cihaz yönetimi...</p>
			</div>
			<div class="service-grid2">
				<div class="fig3">
					<span> </span>
				</div>
				<h3>Web Servis</h3>
				<p>Veritabanına mı ihtiyacınız var? <span>Akıllı form' lar mı yapmak istiyorsunuz?</span>Static sitenizi bağlayın</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>	
	</div>
<!-- //service -->
<!-- service-bottom -->
	<div id="about" class="service-bottom">
	<div class="container">
		<div class="smith">
			<div class="service-bottom-left">
				<img src="{% static 'front/images/iot.png' %}" alt="iot" />
			</div>
			<div class="service-bottom-right">
				<h2>iOT</h2>
				<h3>Nesnelerin interneti</h3>
				<p>İnternete bağlı şeyleri bir merkezden kontrol edebilirsin. <span>iHook web servisi ile mobil </span>
                    cihazlarınızı ve iOT cihazlarınızı birbirine bağlayabilirsiniz.<span>Evinizde bulunan internete </span>
                    bağlı cihazınızı yine internet üzerinden kontrol edebilirsiniz. </p>
				<div class="banner1-icons">
					<ul>
						<li><a href="#" class="facebook1"> </a></li>
						<li><a href="https://twitter.com/iothook" class="twitter1"> </a></li>
						<li><a href="#" class="in1"> </a></li>
					</ul>
				</div>
				<div class="bar">
					<p>iOT</p>
				</div>
				<div class="bar1">
					<p>100%</p>
				</div>
				<div class="clearfix"> </div>
				<div class="skills">
					 <div class="skill1" style="width:100%"> </div>
				</div>

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
<!-- //service-bottom -->
<!-- app-development -->
	<div class="development">
	<div class="container">
		<div class="development-text">
			<h2>UYGULAMA GELİŞTİRME</h2>
			<p>MySQL, PostgreSQL ve SQLite <span>veritabanınızı bir kaç tıklama ile oluşturun. </span>
                Android, iOS, Windows Phone ve diğer akıllı <span>
                    cihazlarınız ile kolay bir şekilde bağlantı kurun. </span>
                E-mail ve web servis ile verilerinize her yerden ulaşın.</p>
			<a href="http://iotdashboard.readthedocs.io/en/latest/" target="_blank">DAHA FAZLA</a>
		</div>
	</div>
	</div>
<!-- //app-development -->

	<div class="clearfix"></div>

	<div class="slider">
	<div class="container">
		<!-- Slider-starts-Here -->
				<script src="{% static 'front/js/responsiveslides.min.js' %}"></script>
				 <script>
				    // You can also use "$(window).load(function() {"
				    $(function () {
				      // Slideshow 4
				      $("#slider3").responsiveSlides({
				        auto: true,
				        pager: true,
				        nav: false,
				        speed: 500,
				        namespace: "callbacks",
				        before: function () {
				          $('.events').append("<li>before event fired.</li>");
				        },
				        after: function () {
				          $('.events').append("<li>after event fired.</li>");
				        }
				      });
				
				    });
				  </script>
			<!--//End-slider-script -->
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
                    <li>
						<div class="slider-info">
							<h2>iOT cihazınız için bulut depolama alanı,
								<span>iHook ile iOT cihazınıza ulaşın.</span></h2>
							<p><a href="#">@iothook</a>-Bulut, iOT, WWW,</p>
							<ul>
								<li><a href="https://twitter.com/iothook" class="twitter-3"> </a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<h2>Web siteniz için veritabanı,
								<span>harici veritabanı bağlantısı.</span></h2>
							<p><a href="#">@iothook</a>-Web servis, Api,</p>
							<ul>
								<li><a href="https://twitter.com/iothook" class="twitter-1"> </a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="slider-info">
							<h2>Mobil uygulamanız için veritabanı,
								<span>verileriniz için güvenli bir depolama alanı.</span></h2>
							<p><a href="#">@iothook</a>-SQL, MySQL, SQLite,</p>
							<ul>
								<li><a href="https://twitter.com/iothook" class="twitter-2"> </a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
	</div>
	</div>
<!-- footer -->
	<div class="footer">
	<div class="container">
		<div class="footer-left">
			<img src="{% static 'front/images/ihook-100x50.png' %}" alt="ihook" />
			<p>&copy; 2016 <a href="/">iHook</a></p>
		</div>
		<div class="footer-right">
			<ul>
				<li><a href="#" class="footer-fb"> </a></li>
				<li><a href="https://twitter.com/iothook" class="footer-twitter"> </a></li>
				<li><a href="#" class="footer-in"> </a></li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
	</script>
<!-- //here ends scrolling icon -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>
</html>