{% load static %}

<html>
  <head>

    <script src='/static/back/graph/jquery-1.6.1.min.js' type="text/javascript"></script>

    <script type="text/javascript" src="{% static 'back/gstatic/loader.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Year');
    data.addColumn('number', 'Sales');
    data.addColumn('number', 'Expenses');
    data.addRows([
      ['2004', 1000, 400],
      ['2005', 1170, 460],
      ['2006', 660, 1120],
      ['2007', 1030, 540]
    ]);

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

    function updateChart () {
        $.ajax({
            url: 'path/to/data/source/',
            data: {/* any parameters you need to pass to the server to get your data back */},
            dataType: /* text, json, XML, whatever your server returns */,
            success: function (response) {
                // use response to create/update DataTable
                chart.draw(data, options);
                // update the chart again in 2 seconds
                setTimeout(updateChart, 2000);
            },
            error: function (response) {
                // handle errors
            }
        });
    }
    updateChart();
}

    var options = {
      title: 'Company Performance',
      vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}}
    };

    var chart = new google.visualization.BarChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
  }
</script>
  </head>
  <body>

  <p id="demo"></p>

<script type="text/javascript">

</script>

    <div id="curve_chart" style="width: 900px; height: 500px"></div>

  <button id="example1-b1">Change Value</button>


  <div id="follow_msg">aaa{{ takip }}bbb</div>

  </body>
</html>