{% extends "back/base.html" %}

{% load staticfiles %}
{% load panels_tags %}
{% load i18n %}

{% block title %}{% trans 'Datalar' %}{% endblock %}

{% block website_name %}{% trans 'Datalar' %}
    <a class="btn btn-primary" href='{% url "export" "data" %}?format=json' role="button">{% trans 'Json aktar' %}</a>
    <a class="btn btn-success" href='{% url "export" "data" %}?format=xml' role="button">{% trans 'Xml aktar' %}</a>
{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'Id' %}</th>
                <th>{% trans 'Sahip' %}</th>
                <th>{% trans 'Ip Adresi' %}</th>
                <th>{% trans 'Aygıt' %}</th>
                <th>{% trans 'Kanal' %}</th>
                <th>{% trans 'İsim Id' %}</th>
                <th>{% trans 'Değer' %}</th>
                <th>{% trans 'Yayın Tarihi' %}</th>
                <th>{% trans 'Chart Göster' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in datas %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.owner }}</td>
                <td>{{ i.remote_address }}</td>
                <td>{{ i.channel.device.name }}</td>
                <td>{{ i.channel.name }} {{ i.channel.pk }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name_id }}">{{ i.name_id }}</a></td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.value }}">{{ i.value }}</a></td>
                <td>{{ i.pub_date }}</td>
                <td><a class="btn btn-info" href="{% url 'chart_view' i.channel.id %}" role="button">{% trans 'Göster' %}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}