{% extends "back/base.html" %}

{% load staticfiles %}
{% load panels_tags %}

{% block title %}Data List{% endblock %}

{% block website_name %}Data List{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Owner</th>
                <th>Remote Address</th>
                <th>Channel</th>
                <th>Element</th>
                <th>Name Id</th>
                <th>Value</th>
                <th>Publish Date</th>
                <th>Generate New Write API Key</th>
            </tr>
            </thead>
            <tbody>
            {% for i in datas %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.owner }}</td>
                <td>{{ i.remote_address }}</td>
                <td>{{ i.channel }}</td>
                <td>{{ i.channel__element }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name_id }}">{{ i.name_id }}</a></td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.value }}">{{ i.value }}</a></td>
                <td>{{ i.pub_date }}</td>
                <td><a class="btn btn-danger" href="{% url 'generate_key' i.id %}" role="button" onclick="return confirm('Are you sure you want to generate a new write API key?');">Generate</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}