{% extends "back/base.html" %}

{% load static %}
{% load custom_tags %}
{% load i18n %}

{% block title %}{% trans 'Datalar' %}{% endblock %}

{% block website_name %}{% trans 'Datalar' %}
    <a class="btn btn-primary" href='{% url "export" "data" %}?format=json' role="button">{% trans 'Json aktar' %}</a>
    <a class="btn btn-success" href='{% url "export" "data" %}?format=xml' role="button">{% trans 'Xml aktar' %}</a>
{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>{% trans 'Id' %}</th>
                <th>{% trans 'Cihaz' %}</th>
                <th>{% trans 'Ip Adresi' %}</th>
                {% if value_1 %}<th>{% trans 'Element 1' %}</th>{% endif %}
                {% if value_2 %}<th>{% trans 'Element 2' %}</th>{% endif %}
                {% if value_3 %}<th>{% trans 'Element 3' %}</th>{% endif %}
                {% if value_4 %}<th>{% trans 'Element 4' %}</th>{% endif %}
                {% if value_5 %}<th>{% trans 'Element 5' %}</th>{% endif %}
                {% if value_6 %}<th>{% trans 'Element 6' %}</th>{% endif %}
                {% if value_7 %}<th>{% trans 'Element 7' %}</th>{% endif %}
                {% if value_8 %}<th>{% trans 'Element 8' %}</th>{% endif %}
                {% if value_9 %}<th>{% trans 'Element 9' %}</th>{% endif %}
                {% if value_10 %}<th>{% trans 'Element 10' %}</th>{% endif %}
                <th>{% trans 'Kayıt T.' %}</th>
                <th>{% trans 'Chart Göster' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in datas %}
            <tr>
                <td>#{{ i.id }}</td>
                <td>{{ i.device.name }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.remote_address }}">{{ i.remote_address | truncatechars:15 }}</a></td>
                {% if value_1 %}<td>{{ i.channel.element_1 }}/{{ i.value_1 }}</td>{% endif %}
                {% if value_2 %}<td>{{ i.channel.element_2 }}/{{ i.value_2 }}</td>{% endif %}
                {% if value_3 %}<td>{{ i.channel.element_3 }}/{{ i.value_3 }}</td>{% endif %}
                {% if value_4 %}<td>{{ i.channel.element_4 }}/{{ i.value_4 }}</td>{% endif %}
                {% if value_5 %}<td>{{ i.channel.element_5 }}/{{ i.value_5 }}</td>{% endif %}
                {% if value_6 %}<td>{{ i.channel.element_6 }}/{{ i.value_6 }}</td>{% endif %}
                {% if value_7 %}<td>{{ i.channel.element_7 }}/{{ i.value_7 }}</td>{% endif %}
                {% if value_8 %}<td>{{ i.channel.element_8 }}/{{ i.value_8 }}</td>{% endif %}
                {% if value_9 %}<td>{{ i.channel.element_9 }}/{{ i.value_9 }}</td>{% endif %}
                {% if value_10 %}<td>{{ i.channel.element_10 }}/{{ i.value_10 }}</td>{% endif %}
                <td>{{ i.pub_date }}</td>
                <td><a class="btn btn-info" href="{% url 'index' %}" role="button">{% trans 'Göster' %}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}