{% extends "back/base.html" %}

{% load staticfiles %}
{% load panels_tags %}
{% load i18n %}

{% block title %}{% trans 'Element Listesi' %}{% endblock %}

{% block website_name %}{% trans 'Element Listesi' %}
    <a class="btn btn-primary" href='{% url "export" "element" %}?format=json' role="button">{% trans 'Json aktar' %}</a>
    <a class="btn btn-success" href='{% url "export" "element" %}?format=xml' role="button">{% trans 'Xml aktar' %}</a>
{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'Id' %}</th>
                <th>{% trans 'Aygıt' %}</th>
                <th>{% trans 'Kanal' %}</th>
                <th>{% trans 'İsim' %}</th>
                <th>{% trans 'Tip' %}</th>
                <th>{% trans 'İsim Id' %}</th>
                <th>{% trans 'Yayın Tarihi' %}</th>
                <th>{% trans 'Açıklama' %}</th>
                <th>{% trans 'Aktif Et' %}</th>
                <th>{% trans 'Güncelle' %}</th>
                <th>{% trans 'Sil' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for i in list %}
            <tr>
                <td>#{{ i.id }}</td>
                <td>#{{ i.channel.device.pk }} {{ i.channel.device.name }}</td>
                <td>#{{ i.channel.pk }} {{ i.channel.name }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name }}">{{ i.name | truncatechars:20 }}</a></td>
                <td>{{ i.type }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name_id }}">{{ i.name_id | truncatechars:20 }}</a></td>
                <td>{{ i.pub_date }}</td>
                <td>{{ i.description | truncatechars:10 }}</td>
                <td>{{ i.enable }}</td>
                <td><a class="btn btn-warning" href="{% url 'element_edit' i.id %}" role="button">{% trans 'Güncelle' %} »</a></td>
                <td><a class="btn btn-danger" href="{% url 'device_delete' i.id %}" role="button" onclick="return confirm('{% trans "Model silinecek. Emin misiniz?" %}');">{% trans 'Sil' %}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}