{% extends "back/base.html" %}

{% load staticfiles %}
{% load panels_tags %}

{% block title %}Device List{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Channel</th>
                <th>Type</th>
                <th>Name</th>
                <th>Name Id</th>
                <th>Pub.Date</th>
                <th>Description</th>
                <th>Enable</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for i in list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.channel }}</td>
                <td>{{ i.type }}</td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name }}">{{ i.name | truncatechars:10 }}</a></td>
                <td><a class="tooltip-viewport-bottom" title="{{ i.name_id }}">{{ i.name_id | truncatechars:10 }}</a></td>
                <td>{{ i.pub_date }}</td>
                <td>{{ i.description | truncatechars:10 }}</td>
                <td>{{ i.enable }}</td>
                <td><a class="btn btn-warning" href="{% url 'element_edit' i.id %}" role="button">Edit »</a></td>
                <td><a class="btn btn-danger" href="{% url 'device_delete' i.id %}" role="button" onclick="return confirm('Model silinecek. Emin misiniz?');">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}