{% load static %}
{% load custom_tags %}
{% load i18n %}

<footer class="footer">
    <div class="container">
        <p class="pull-right"> &copy; 2019 {% website_name %} |
            <a href="http://iothook.com">{% trans 'IoThook' %} </a> |
            <a href="http://mesebilisim.com">{% trans 'MeseBilisim' %} </a> |
            <a href="http://electrocoder.github.io/iotdashboard/privacy.html">{% trans 'Gizlilik' %} </a> |
            <a href="http://electrocoder.github.io/iotdashboard/terms.html"> {% trans 'Kullanım Şartları' %} </a> |
            <a> Ver: {% version %} | </a>
            <a href="#">&nbsp;{% trans 'Yukarı çık' %}&nbsp;</a>
        </p>
    </div>
</footer>
