{% load staticfiles %}
{% load panels_tags %}
{% load i18n %}

<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="#">&nbsp;{% trans 'Yukarı çık' %}&nbsp;</a></p>
        <p class="pull-right"> &copy; 2016 {% website_name %} | <a href="http://electrocoder.github.io/iotdashboard/privacy.html">{% trans 'Gizlilik' %} </a> | <a href="http://electrocoder.github.io/iotdashboard/terms.html"> {% trans 'Kullanım Şartları' %} </a> | <a> Ver: {% version %} | </a></p>
    </div>
</footer>
