{% load i18n %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="{% if panel %}active{% endif %}"><a href="{% url 'index' %}">Panel <span class="sr-only">(current)</span></a></li>
        <li class="{% if device_add %}active{% endif %}"><a href="{% url 'device_add' %}">Device Add <span class="sr-only">(current)</span></a></li>
        <li class="{% if device_list %}active{% endif %}"><a href="{% url 'device_list' %}">Device List <span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="{% if datas %}active{% endif %}"><a href="{% url 'datas' %}">Datas <span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="{% if key_list %}active{% endif %}"><a href="{% url 'key_list' %}">Key List <span class="sr-only">(current)</span></a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/api/">{% trans 'API' %}</a></li>
        <li><a href="{% url 'api_data' %}">{% trans 'API Data' %}</a></li>
    </ul>
</div>