<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'panels_index' %}">Panel <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'device_add' %}">Add Device</a></li>
        <li><a href="{% url 'channel_add' %}">Add Channel</a></li>
        <li><a href="{% url 'element_add' %}">Add Element</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'device_list' %}">Devices</a></li>
        <li><a href="{% url 'channel_list' %}">Channels</a></li>
        <li><a href="{% url 'element_list' %}">Elements</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/api/">API</a></li>
        <li><a href="{% url 'datas' %}">Datas</a></li>
    </ul>
</div>