{% load i18n %}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'panels_index' %}">Panel <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'device_add' %}">{% trans 'Aygıt Ekle' %}</a></li>
        <li><a href="{% url 'channel_add' %}">{% trans 'Kanal Ekle' %}</a></li>
        <li><a href="{% url 'element_add' %}">{% trans 'Element Ekle' %}</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="{% url 'device_list' %}">{% trans 'Aygıtlar' %}</a></li>
        <li><a href="{% url 'channel_list' %}">{% trans 'Kanallar' %}</a></li>
        <li><a href="{% url 'element_list' %}">{% trans 'Elementler' %}</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li><a href="/api/">{% trans 'API' %}</a></li>
        <li><a href="/docs/api/">{% trans 'API Döküman' %}</a></li>
        <li><a href="{% url 'datas' %}">{% trans 'Datalar' %}</a></li>
    </ul>
</div>